.v-container .image-container {
  border: 8px solid rgba(212, 212, 212, 0.93);
}

.v-container > div {
  flex: 1;
}

.v-right {
  gap: 0.5rem;
}

.accordion {
  margin-top: 1rem;
  border: none;
}

.accordionItem {
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  background: white;
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.accordionButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  font-size: 25px;
  background: #eeeeff;
  border-radius: 5px;
  padding: 10px;
}

.icon svg {
  fill: var(--blue);
}

.accordionButton .primaryText {
  font-size: 1.1rem;
}

.accordionItem .secondaryText {
  text-align: center;
  margin-top: -15px;
}

@media (max-width: 1050px) {
  .v-container {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .accordionButton .primaryText {
      font-size: 0.8rem;
    }

    .icon {
      font-size: 20px;
      padding: 5px;
    }
  }
}
